$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorPrimaryBis: #ad80e5;
$colorSecondaryBis: #ffade8;
$colorTertiaryBis: 	#bfede2;

$shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
$shadow-after: 0px 4px 10px 0px rgba(0,0,0,0.3);
$colorgrey: #7e7e7e;


.redBorder{
    border: 1px solid red;
}
body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        box-shadow: $shadow;
        position: relative;
        &::after{
                content: "Commander";
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                border-radius: 25px;
                background-image: linear-gradient($colorSecondaryBis, $colorPrimaryBis);
                padding-left: 50px;
                padding-right: 50px;
                color: white;
                box-shadow: $shadow;
                z-index: (1);
                position: absolute;
                opacity: 0;
                
                
            }
        &:hover{
            
            &::after{
                opacity: 1;
            }
            
        }
        &--commander{
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 10px;
            margin-bottom: 83px;
            
        }
    }
    .titre{
        width: 100%;
    }
    .step{
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 324px;
        height: 74px;
        justify-content: flex-start;
        align-items: center;
        background: #f6f6f6;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
        margin-bottom: 20px;
        font-weight: 500;
    }
    .ball{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: $colorPrimary;
        color: white;
        width: 22px;
        height: 22px;
        border-radius: 25px;
        margin-left: -8px;
        font-size: 13px;
        font-weight: 400;

    }

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a{
        position: absolute;
        left: 25px;
        &:visited, &:link, &:hover{
            color: black;
        }
    }
    i{
        font-weight: 800;
        font-size: 1.3rem;     
    }
    img{
        padding: 19px 0px 12px 0px;
        width: 46%;
        max-width: 172px;
        
    }
}
#localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    padding: 19px 0px 19px 0px;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.3);
    
}
.searchBar{
    display: flex;
    width: 45%;
    background-color: #EAEAEA;
    color: #353535;
    input{
        border: none;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        font-size: 16px;
        outline: none;
        color: #353535;
        font-weight: 600;
    }
}
.banniere{
    
    width: auto;
    height: 260px;
    background-size: cover;
    background-position: center;
    &--alafrancaise{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    &--lanoteenchantee{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    &--ledelicedessens{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
    &--lapalettedugout{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    
       
}
#menu{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-right: 12px;
    background: #f6f6f6;
    align-items: center;
    border-radius: 40px 40px 0 0;
    margin-top: -60px;
    h2{
        font-family: 'Shrikhand', 'cursive';
    }
}
.titreRestaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    h2{
        margin-left: 10px;
        font-weight: 500;
        font-size: 28px;
    }
    i{
        font-size: 25px;
        margin-right: 20px;
        
        
      
    }
    .fal{
        position: relative;
    }
    .fas{
        color: transparent;
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        right: 12px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.8s;
        &:hover{
            opacity: 1;
        }
    }
}


.service{
    font-size: large;
    font-weight: 100;
    color: #1e1e1e;
    
    
    .service_nom {
        
        position: relative;   
        margin-bottom: 26px;
        font-size: 17px;
        font-weight: 300;
    }
    .service_nom::after{
        content:"";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #99E2D0;
        bottom: -12px;
        left:3px;
        font-size:20px;
        font-weight: 100;
      }
    
}




.content{
    display: flex;
    justify-content: space-between;
    width: 327px;  
}

.checked{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    min-width: 65px;   
    background: $colorTertiary;
    color: white;
    transform:translateX(0px);
    transition: transform 400ms;
    i{
        transform: rotate(1turn);
        transition: all 0.4;
    }  
}

.plats{
    margin: 11px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: 249px;
    transition: width 400ms;
    h3{
        transition: width 400ms;
    }
    p{
        font-size: smaller;
        transition: width 400ms;  
    }    
}
.prix{
    display: flex;
    flex-direction: column-reverse;
    margin: 11px;
    transform:translateX(0px);
    transition: transform 400ms;
    
    p{
        font-weight: 500;
        font-size: smaller;
    }    
}



.choix{
    display: flex;
    width: 318px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 14px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 400ms;
    
    
    
    &:hover{
        .checked{   
            display: flex;
            transform: translateX(-65px);
            i{
                rotate: (1turn);
            }   
        }
        .prix{
            transform: translateX(-65px);
        }
        .plats{
            width: 249px;
            h3{
                width: 209px;
            }
            p{
                width: 209px;
            }
        }
    }
    &:last-child{
        margin-bottom: 40px;}
    h3{
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
   
}



#reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    padding: 15px 30px 45px 30px;
    h2{
        text-align: center;
        width: 240px;
    }
    p{
        text-align: center;
        margin-top: -10px;
        margin-bottom: 28px;
        color: #353535;
        font-weight: 300;
        font-size: 18px;
    }
    


}
#fonctionnement{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px 20px;
    h2{
        margin-bottom: 31px;
    }
    i{
        color: #7e7e7e;
        font-size: large;
    }

}
#restaurants{
    padding: 5%;
    align-items: center;
    background:#f6f6f6
    
    
}
.carte{
    display: flex;
    flex-direction: column;
    height: 251px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    &:last-child{
        margin-bottom: 40px;
    }
    img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        width: 100%;
        background: white;
        padding: 0px;
        border-radius: 0 0 15px 15px;
        i{
            margin-right: 23px;
            font-size: 21px;
            font-weight: lighter;
        }
        
    }
}
article{
    margin-left: 14px;
    h3{
        margin: 0;
        margin-bottom: 3px;
        font-size: large;
    }
    p{
        margin: 0;
        font-weight: 300;
    }
}
footer{
    background: #353535;
    color: white;
    padding: 26px;
    h3{
        margin-top: 0;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: large;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        font-weight: 400;
        li{
            margin-bottom: 8px;
            font-size: 16px;           
        }
        :nth-child(1) i{
            font-size: small;
            margin-right: 12px;            
        }
        :nth-child(2) i{
            font-size: small;
            margin-right: 8px;
        }
        :nth-child(3), :nth-child(4){
            font-weight: 300;
        }
    }

}