$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorQuartiary: #f5edff;
$colorPrimaryBis: #ad80e5;
$colorSecondaryBis: #ffade8;
$colorTertiaryBis: 	#bfede2;

$shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
$shadow-after: 0px 4px 10px 0px rgba(0,0,0,0.3);
$colorgrey: #7e7e7e;

@keyframes appear-service{
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes appear-choix{
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes hidden{
    0%{opacity: 1;}
    99%{opacity: 0;}
    100%{z-index: -3;}
}
@keyframes load-spinner {
    to{
        transform: rotate(5turn);
    }
}

.redBorder{
    border: 1px solid red;
}
body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    .load-spinner{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9) ;
        animation: hidden 8s;
        animation-fill-mode: forwards;
        
        

        &::after{
            content: "";
            width: 300px;
            height: 300px;
            border: 10px solid $colorPrimary;
            border-top-color: $colorSecondary;
            border-radius: 50%;
            animation: load-spinner 3s cubic-bezier(.8,-0.31,.46,1.55);   
        }
    }
    a:link, a:visited{
        text-decoration: none;
        color: black;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        box-shadow: $shadow;
        position: relative;
        &:hover{
            
            &::after{
                opacity: 1;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
            }
            
        }
        &--explorer{
                &::after{
                content: "Explorer nos restaurants";
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                border-radius: 25px;
                background-image: linear-gradient($colorSecondaryBis, $colorPrimaryBis);
                padding-left: 20px;
                padding-right: 20px;
                color: white;
                box-shadow: $shadow;
                z-index: (1);
                position: absolute;
                opacity: 0;           
            }   
        }         
        &--commander{
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 10px;
            margin-bottom: 83px;
            &::after{
                content: "Commander";
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                border-radius: 25px;
                background-image: linear-gradient($colorSecondaryBis, $colorPrimaryBis);
                padding-left: 50px;
                padding-right: 50px;
                color: white;
                box-shadow: $shadow;
                z-index: (1);
                position: absolute;
                opacity: 0;
                
                
            }
            
        }
    }
    .titre{
        width: 100%;
    }
    .step{
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 324px;
        height: 74px;
        justify-content: flex-start;
        align-items: center;
        background: #f6f6f6;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
        margin-bottom: 20px;
        font-weight: 500;
        i{
            color: #7e7e7e;
            font-size: large;
        }
        &:hover{
            background-color: $colorQuartiary;
            i{
                color: $colorPrimary;            
            }
        }

    }
    .ball{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: $colorPrimary;
        color: white;
        width: 22px;
        height: 22px;
        border-radius: 25px;
        margin-left: -8px;
        font-size: 13px;
        font-weight: 400;

    }

}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a{
        position: absolute;
        left: 25px;
        &:visited, &:link, &:hover{
            color: black;
        }
    }
    i{
        font-weight: 800;
        font-size: 1.3rem;     
    }
    img{
        padding: 19px 0px 12px 0px;
        width: 46%;
        max-width: 172px;
        
    }
}
#localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    padding: 19px 0px 19px 0px;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.3);
    
}
.searchBar{
    display: flex;
    width: 45%;
    background-color: #EAEAEA;
    color: #353535;
    input{
        border: none;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        font-size: 16px;
        outline: none;
        color: #353535;
        font-weight: 600;
    }
}
.banniere{
    
    width: auto;
    height: 260px;
    background-size: cover;
    background-position: center;
    &--alafrancaise{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    &--lanoteenchantee{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    &--ledelicedessens{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
    &--lapalettedugout{
        background-image: url("./Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    
       
}
#menu{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-right: 12px;
    background: #f6f6f6;
    align-items: center;
    border-radius: 40px 40px 0 0;
    margin-top: -60px;
    
    
    h2{
        font-family: 'Shrikhand', 'cursive';
    }
}
.titreRestaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    position: relative;
    max-width: 445px;
    h2{
        margin-left: 10px;
        font-weight: 500;
        font-size: 28px;
    }
    i{
        font-size: 25px;
        margin-right: 20px;
        
        
      
    }
    .fal{
        font-weight: lighter;
    }
    .fas{
        color: transparent;
        background-image: linear-gradient($colorSecondary, $colorPrimary);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        right: 0px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.8s;
        &:hover{
            opacity: 1;
        }
    }
}


.service{
    font-size: large;
    font-weight: 100;
    color: #1e1e1e;
    animation: appear-service 400ms ease-in-out ;
    animation-fill-mode: backwards;
    &:nth-child(2){
        
        animation-delay: 100ms;
    }
    &:nth-child(3){
        
        animation-delay: 200ms;
    }
    &:nth-child(4){
        
        animation-delay: 300ms;
    }
 
    
    
    
    .service_nom {
        
        position: relative;   
        margin-bottom: 26px;
        font-size: 17px;
        font-weight: 300;
    }
    .service_nom::after{
        content:"";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #99E2D0;
        bottom: -12px;
        left:3px;
        font-size:20px;
        font-weight: 100;
      }
    
}




.content{
    display: flex;
    justify-content: space-between;
    width: 327px;
      
}

.checked{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    min-width: 65px;   
    background: $colorTertiary;
    color: white;
    transform:translateX(0px);
    transition: transform 400ms;
    i{
        
        transition: all 0.4s;
    }  
}

.plats{
    margin: 11px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: 249px;
    transition: width 400ms;
    h3{
        transition: width 400ms;
    }
    p{
        font-size: smaller;
        transition: width 400ms;  
    }    
}
.prix{
    display: flex;
    flex-direction: column-reverse;
    margin: 11px;
    transform:translateX(0px);
    transition: transform 400ms;
    
    p{
        font-weight: 500;
        font-size: smaller;
    }    
}



.choix{
    display: flex;
    width: 318px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 14px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: all 400ms;
    animation: appear-choix 1000ms ease-out ;
    animation-fill-mode: backwards;
    &:nth-child(1){
        
        animation-delay: 200ms;
        animation-fill-mode: backwards;
    }
    &:nth-child(2){
        
        animation-delay: 300ms;
        animation-fill-mode: backwards;
    }
    &:nth-child(3){
        
        animation-delay: 400ms;
        animation-fill-mode: backwards;
    }
    &:nth-child(4){
        
        animation-delay: 500ms;
        animation-fill-mode: backwards;
    }
    &:nth-child(5){
        
        animation-delay: 600ms;
        animation-fill-mode: backwards;
    }
    
    
    
    &:hover{
        .checked{   
            display: flex;
            transform: translateX(-65px);
            i{
                transform: rotate(360deg);
                
            }   
        }
        .prix{
            transform: translateX(-65px);
        }
        .plats{
            width: 249px;
            h3{
                width: 209px;
            }
            p{
                width: 209px;
            }
        }
    }
    &:last-child{
        margin-bottom: 40px;}
    h3{
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
   
}



#reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    padding: 15px 30px 45px 30px;
    h2{
        text-align: center;
        width: 240px;
    }
    p{
        text-align: center;
        margin-top: -10px;
        margin-bottom: 28px;
        color: #353535;
        font-weight: 300;
        font-size: 18px;
    }
    


}
.fonctionnement{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px 20px;
    h2{
        margin-bottom: 31px;
    }
    

}
#restaurants{
    padding: 5%;
    align-items: center;
    background:#f6f6f6;
       
}
.carte{
    display: flex;
    flex-direction: column;
    height: 251px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    position: relative;
    &--new{
            &::after{
            content: "Nouveau";
            display: flex;
            height: 29px;
            width: 80px;
            justify-content: center;
            align-items: center;
            color: #008766;
            position: absolute;
            background-color: $colorTertiary;
            top: 13px;
            right: 12px;
            border-radius: 3px;
            font-size: 15px;
            font-weight: 500;
        }
    }
    
   
    &:last-child{
        margin-bottom: 40px;
    }
    img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        width: 100%;
        background: white;
        padding: 0px;
        border-radius: 0 0 15px 15px;
        i{
            margin-right: 23px;
            font-size: 21px;   
        }
        .fal{
            position: relative;
            font-weight: 100;
        }
        .fas{
            color: transparent;
            background-image: linear-gradient($colorSecondary, $colorPrimary);
            -webkit-background-clip: text;
            background-clip: text;
            position: absolute;
            right: 0px;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.8s;
            &:hover{
                opacity: 1;
            }
        }
        
    }
}
article{
    margin-left: 14px;
    h3{
        margin: 0;
        margin-bottom: 3px;
        font-size: large;
    }
    p{
        margin: 0;
        font-weight: 300;
    }
}

@media screen and (min-width: 1024px) {
    .trois{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
}
    

footer{
    background: #353535;
    color: white;
    padding: 26px;
    a:link, a:visited{
        text-decoration: none;
        color: white;
    }
    h3{
        margin-top: 0;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: large;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        font-weight: 400;
        li{
            margin-bottom: 8px;
            font-size: 16px;           
        }
        :nth-child(1) i{
            font-size: small;
            margin-right: 12px;            
        }
        :nth-child(2) i{
            font-size: small;
            margin-right: 8px;
        }
        :nth-child(3), :nth-child(4){
            font-weight: 300;
        }
    }

}