$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
$colorgrey: #7e7e7e;

body{
    background: white;
    padding: 0;
    margin: 0;
    h2{
        font-family: 'Roboto', sans-serif;
    }

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient($colorSecondary, $colorPrimary);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow: $shadow;
}
.titre{
    width: 100%;
}
.step{
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 324px;
    height: 74px;
    justify-content: flex-start;
    align-items: center;
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}
.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: $colorPrimary;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 25px;
    margin-left: -8px;
    font-size: 11px;

}

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        padding: 19px 0px 12px 0px;
        width: 46%;
    }
}
#localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    padding: 19px 0px 19px 0px;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.3);
    
}
.searchBar{
    display: flex;
    width: 45%;
    background-color: #EAEAEA;
    color: #353535;
    input{
        border: none;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        font-size: 14px;
        outline: none;
        color: #353535;
    }
}
#reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    padding: 15px 30px 45px 30px;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        margin-top: -10px;
        margin-bottom: 28px;
        color: #353535;
        font-weight: 100;
        font-size: 16px;
    }
    


}
#fonctionnement{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px 20px;
    i{
        color: #7e7e7e;
    }

}
#restaurants{
    padding: 5%;
    align-items: center;
    background:#f6f6f6
}
.carte{
    display: flex;
    flex-direction: column;
    height: 251px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
        width: 100%;
        background: white;
        padding: 0px;
        border-radius: 0 0 15px 15px;
        i{
            margin-right: 23px;
            font-size: 21px;
            font-weight: lighter;
        }
        
    }
}
article{
    margin-left: 14px;
    h3{
        margin: 0;
        
    }
    p{
        margin: 0;
    }
}
footer{
    background: #353535;
}